<mat-sidenav-container class="container">


  <mat-card class="simula mat-elevation-z4">


    <div>
      <h4>{{'id user '+id_user}}</h4>
      <h4>{{'id conta '+id_conta}}</h4>
    </div>


    <form action="">

      <h1>TELA SIMULADOR</h1>

      <mat-card class="content mat-elevation-z4">

        <div class="content-input">

          <div *ngFor="let opcao of investOpcao">

            <input type="radio" name="Investimentos" value="{{opcao}}" 
            (change)="radioChangeHandler($event)">

            <i class="input-name">{{opcao}}</i>

          </div>

        </div>

        <div>

          <h2>{{' taxa selic : '+selic+"% a.a"}}</h2>

        </div>

      </mat-card>



      <mat-form-field class="form">

        <mat-label class="form-text">VALOR</mat-label>

        <input matInput [(ngModel)]="valor" [formControl]="valorValid" required="true" type="text" name="valor"
          placeholder="digite só números" maxlength="6">

        <mat-error *ngIf="valorValid.invalid">{{ getValidate() }}</mat-error>


      </mat-form-field>



      <mat-card class="content_info mat-elevation-z4">

        <div class="invest">
          <span class="invest_tipo">{{' INVESTIMENTO TIPO : '}}</span>
          <span class="invest_tipo">{{investimentos.nome}}</span>
        </div>

        <div class="invest">
          <span class="invest_tipo">{{" taxa "+investimentos.taxa+"% do CDI"}}</span>
        </div>

        <div class="invest">
          <span class="invest_info">{{' bruto R$ '+brutoStr}}</span>
        </div>

        <div class="invest">
          <span class="invest_info">{{' I.R R$ '+irStr}}</span>
        </div>


        <div class="invest">
          <span class="invest_info">{{' liquido R$ '+liquidoStr}}</span>
        </div>


      </mat-card>


      <div class="buttons">

        <button (click)="calcularInvestimentos()" [disabled]="getValidate()" mat-stroked-button
          class="mat-elevation-z8">
          Calcular
        </button>

        <button (click)="limpar()" mat-stroked-button class="mat-elevation-z8">
          Limpar
        </button>

        <button (click)="voltar()" mat-stroked-button class="mat-elevation-z8">
          Voltar
        </button>

      </div>


    </form>


  </mat-card>


</mat-sidenav-container>





