
*{
    margin: 0;
    padding: 0;
}


.container{
    height: 64%;
    height: 100%;    
    background-color: rgba(22, 21, 122, 0.3);
    background-image: linear-gradient(to top, transparent, rgba(22, 21, 122, 0.8));
    box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
}



.create{
    width: 95%;
    height: auto;
    background-color: rgba(32, 15, 22, 0.3);
    background-image: linear-gradient(to top, transparent, rgba(32, 15, 22, 0.8));
    box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
    margin: 1rem auto;
}


.content{
    display: flex;
    width: 95%;
    height: auto;
    background-color: rgba(32, 15, 22, 0.3);
    background-image: linear-gradient(to top, transparent, rgba(32, 15, 22, 0.8));
    box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.7);
    margin: 2rem auto;
    padding: 2.9rem;
}

form{
    width: 70%;
    margin: 2rem auto 0 auto;
    text-align: center;
}



h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color:#33FFAC
}

h2{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color:#33FFAC
}


.form{
    width: 100%;
}

.form-text{
    color:#3385ff;
}

input{
    color:#33ff70;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:#ffff;
    opacity: 1; /* Firefox */
  }


  .ckeck-option{
    margin-right: 3rem;
    color:rgb(67, 194, 216);
  }


.buttons{
    width: 100%;
    text-align: start;
    color:#33f8ff;
}


button{
    margin-right: .5rem;
    margin-bottom: 2rem;
    padding-right: 2rem; 
    padding-left: 2rem; 
}



@media (min-width: 380px) and (max-width: 700px) {
    h1,h2{
        font-size: 1rem;
    } 
    .content{
       display:block;
       padding: 0.6rem;
      }  
    
}

